 h1{

               	   color: red;
               }
               img{

               	  max-width: 400px;
               }
               .ThirdDiv{

               	   max-width: 500px;
               	   max-height: 600px;
               	   background-color: blue;
               }
               #spanId{

               	font-size: 18px;
               	margin: 50px;
               }
               #ThirdDiv{

               	padding: 50px;
               	border-color: orange;
               }